*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../background/dominus.jpg);
    background-size: cover;
}

@font-face {
    font-family: Decipher;
    src: url(../fonts-family/Bombing.ttf);
}

/*header*/

.menu {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-image: url(../header/header-background/space-wallpaper.jpg);

    font-family: Decipher;
    font-size: 2.5rem;
}

.menu .menu-wrapper {
    max-width: 1500px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .menu-wrapper .menu-logo a img {
    height: 60px;
}

.menu .menu-wrapper .rocket-logo-wrapper a img {
    height: 70px;
}

.menu .menu-wrapper .menu-sections {
    display: flex;
    gap: 40px;
}

.menu .menu-wrapper .menu-sections a {
    text-decoration: none;
    color: rgb(108, 233, 255);
    text-shadow: rgb(183, 0, 255) 2px 2px;
}

/* Ranks */

.ranks-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 80px;

    width: 100%;
}

.ranks-wrapper .ranks-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 1500px;
}

.ranks-wrapper .ranks-content h1 {
    font-family: 'Kaushan Script', cursive;

    color: rgba(182, 181, 181, 0.384);
}

.ranks-wrapper .ranks-content .ranks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ranks-wrapper .ranks-content .ranks .rank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranks-wrapper .ranks-content .ranks .rank .bronze-1 img {
   height: 40px; 
}

.ranks-wrapper .ranks-content .ranks .rank .bronze-2 img {
    padding-right: 5px;

    height: 50px;
}

.ranks-wrapper .ranks-content .ranks .rank .bronze-3 img {
    height: 45px;
}

.ranks-wrapper .ranks-content .ranks .rank .silver-1 img {
    padding-right: 10px;

    height: 30px;
}

.ranks-wrapper .ranks-content .ranks .rank .silver-2 img {
    padding-right: 10px;

    height: 30px;
}

.ranks-wrapper .ranks-content .ranks .rank .silver-3 img {
    height: 45px;
}

.ranks-wrapper .ranks-content .ranks .rank .gold-1 img {
    padding-right: 10px;

    height: 30px;
}

.ranks-wrapper .ranks-content .ranks .rank .gold-2 img {
    padding-right: 10px;

    height: 35px;
}

.ranks-wrapper .ranks-content .ranks .rank .gold-3 img {
    height: 50px;
}

.ranks-wrapper .ranks-content .ranks .rank .platinum-1 img {
    padding-right: 10px;

    height: 30px;
}

.ranks-wrapper .ranks-content .ranks .rank .platinum-2 img {
    padding-right: 10px;

    height: 45px;
}

.ranks-wrapper .ranks-content .ranks .rank .platinum-3 img {
    height: 45px;
}

.ranks-wrapper .ranks-content .ranks .rank .diamond-1 img {
    height: 40px;
}

.ranks-wrapper .ranks-content .ranks .rank .diamond-2 img {
    height: 50px;
}

.ranks-wrapper .ranks-content .ranks .rank .diamond-3 img {
    height: 65px;
}

.ranks-wrapper .ranks-content .ranks .rank .champion-1 img {
    padding-right: 10px;

    height: 30px;
}

.ranks-wrapper .ranks-content .ranks .rank .champion-2 img {
    padding-right: 10px;

    height: 40px;

    opacity: 0.2;
}

.ranks-wrapper .ranks-content .ranks .rank .champion-3 img {
    height: 55px;

    opacity: 0.2;
}

.ranks-wrapper .ranks-content .ranks .rank .gc-1 img {
    padding-right: 10px;

    height: 40px;

    opacity: 0.2;
}

.ranks-wrapper .ranks-content .ranks .rank .gc-2 img {
    padding-right: 10px;

    height: 50px;

    opacity: 0.2;
}

.ranks-wrapper .ranks-content .ranks .rank .gc-3 img {
    height: 50px;

    opacity: 0.2;
}

.ranks-wrapper .ranks-content .ranks .rank .ssl img {
    height: 70px;

    opacity: 0.2;
}

/* PRESENTATION VIDEO */

.presentation-video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.presentation-video-wrapper .presentation-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding-top: 50px;

    width: 100%;
    max-width: 1500px;
}

.presentation-video-wrapper .presentation-video h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;

    color: rgb(108, 233, 255);
    text-shadow: rgb(183, 0, 255) 2px 2px;
}

.presentation-video-wrapper .presentation-video video {
    width: 60%;
}

/* itv-clan */

.headboard {
    width: 100%;
    height: 150px;
}